# .NET build folders
bin/
obj/

# Visual Studio Code specific files
.vscode/

# NuGet package manager
*.nuget.props
*.nuget.targets
NuGet.Config

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
AnyCPU/